{% extends "base.twig" %}

{% block content %}

  <article class="u-clearfix postContent post-type-{{post.post_type}}" id="post-{{post.ID}}">

    {% if post.header_type == 'Cover' %}
      {% include ["header-"~post.header_type|lower~".twig", "header-default.twig"] %}
    {% endif %}

    <div class="articleContent">

      <div class="articleContent-text">
        {% if (post.header_type == 'Default') or (post.header_type == null) %}
          <h3 class="headerContent-titleDefault">{{post.title}}</h3>
        {% endif %}
        <date class="articleContent-date">Posted {{ post.date }}</date>
        {{post.content}}
      </div>

    </div>

  </article>

{% endblock %}